# Tavily API 配置
TAVILY_API_KEY=***

# 自部署大模型配置 (OpenAI 兼容格式)
OPENAI_API_KEY=sk-gvLmFu5c0VPiYsTjbqYuRm0dUMb8qo4wvQXRx0gTw1HnumKN
OPENAI_BASE_URL=https://openai-proxy.miracleplus.com/v1
MODEL_NAME=gpt-5-mini
